body {
    margin: 0;
    padding: 0;
}

.container-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.App-header {
    text-align: center;
}

.App-header h1 {
    font-size: 4rem;
}

.App-header h1:hover {
    color: rgb(117, 102, 102);
}

.searchContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchContainer input {
    background-color: blue;
    color: white;
}

.searchContainer input:hover {
    background-color: rgb(30, 30, 121);
}

.searchContainer input::placeholder {
    color: white;
}

.searchContainer input::placeholder:hover {
    color: rgb(22, 18, 18);
}

.citySearch,
.searchButton {
    height: 4rem;
    text-align: center;
    font-size: 2.5rem;
    border-radius: 10px;
    border: none !important;
    margin-top: 10px;
}

p {
    font-size: 1.5rem;
    text-align: center;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.menu button {
    font-size: 2rem;
    border-radius: 10px;
    border: none !important;
    height: 6rem;
    margin: 4px;
    background-color: blue;
}

.menu button:hover {
    background-color: rgb(36, 36, 105);
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box p {
    border: 2px black solid;
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
}

.box h1 {
    font-size: 5rem;
    text-align: center;
}

.box h1:hover {
    color: rgb(117, 102, 102);
}